<footer class="footer py-3 bg-light border-top position-fixed bottom-0 start-0 end-0" style="z-index: 1000;">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
       
        <!-- Texte du pied de page -->
        <p class="mb-2 mb-md-0 text-muted">Application d'Alignement du Musée d'Orsay</p>
        <!-- Logo du musée -->
        <a href="https://www.musee-orsay.fr" target="_blank" class="d-flex align-items-center text-muted text-decoration-none">
            <img src="{{ url_for('static', filename='img/LOGO_MUSEE_ORSAY_H+25MM_NORMAL_NOIR.png') }}"
                 alt="Logo Musée d'Orsay"
                 class="img-fluid"
                 style="width: 100px; height: auto;">
        </a>
    </div>
</footer>